<html>

<head>
	 <link rel="stylesheet" type="text/css" href="style.css">
  	 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
	<div class="strip">
		<center><h1> RB Library</h1></center>
		<span class="userspan" id="userspan1">
			<%= @user.email %> 
			<span class="logoutspan" id="logout1">
				<%= link_to "Change Password" %>
				<%= link_to "Logout", destroy_userdb_session_path, method: :delete, :class => 'navbar-link'  %>
			</span>
		</span>
	</div>
	
	<div class="sidemenu">
		<li><%= link_to "Recent Activity", user_path(id: @user.id) %></li>
		<li><%= link_to "Add/Remove Book", book_show_admin_path(id: @user.id) %></li>
		<li><%= link_to "View/Remove User", user_show_admin_path(id: @user.id) %></li>
		<li><%= link_to "Add User", user_post_admin_path(id: @user.id) %></li>
		<li><%= link_to "Experiment", live_search_books_path %></li>

	</div>

	<div class="removebook"  id="removebookdiv">

	<%= form_for :book ,url: book_search_admin_index_path, :method => 'post', html:{:id=>'books_search', :class=>"search_form"} do |b|%>

	    <%= b.text_field :search , :id=>"search_input"%>
	    <%= b.submit ("Search") %>
	<% end %>
	
	<div class="removediv" >

    <div id="flash">
  		<% flash.each do |key, value| %>
      <div class="flash-box-<%= key %>" id="flash"><%= value %></div>
  	 <% end %>
    <%= yield %>
	</div>

	<h2 style="margin-left:300px;">My Bag</h2>
	 <!--<#%= flash[:success] %> -->
	 <%if @books.size == 0%>
	 	 <p>No matches are available</p>
	  <%else%>
	 <%= form_tag book_remove_admin_index_path, :method=>'post', :class =>'borrowbookform', :id=>"render_form" do %>

	<table class="booktable">
	  <tr class="tablehead">
	    <th>Title</th>
	    <th>Author</th>
	    <th>Price</th>
	    <th>Return</th>
	  </tr>
	  
	<% @books.each do |book| %>
	  <tr>
	    <td><%= book.title %></td>
	    <td><%= book.author %></td>
	    <td><%= book.price %></td>

	     <td><% if book.userdb_id == 0 %>
	     	<%= check_box_tag  "activated[]", book.id %> 
	     	 <% else %>
	     	 <span> Can't be removed now</span>
	     	 <% end %>
	     </td>
	  </tr>
	<% end %>

</table>
<a href="#" id="addbookshow"><< Add Book</a> 
<%= submit_tag("Remove Book(s)") %>
<% end %>
<%end%>
</div>
</div>
</div>
<div class="addbook" id="addbookdiv">
	<h2> ADD BOOK</h2>
	<%= form_for :book, url: book_add_admin_path(id: @user.id), method: 'post', html:{:id=>'addbookform'} do |f| %>
 
  <p>
    <%= f.text_field :title, :placeholder=>'title', :id=>'title' %>
    <span id="titleerror" class="validerror">*Enter a valid age </span>
  </p>
  <p>
    <%= f.text_field :author, :placeholder=>'author'%>
  </p>
  <p>
    <%= f.text_field :price, :placeholder=>'price', :id=>'price'%>
    <span id="priceerror" class="validerror">*Enter a valid mobile no </span>
  </p> 
 
  <p>
    <%= f.submit :AddBook!, :id=>'addbooksubmit' %>
    <span id="Adderror" class="validerror">*Enter all mandatory fields </span>
  </p>
<% end %>
<%= link_to "Remove Book >>", book_show_admin_path(id: @user.id) %>
</div>
<%= javascript_include_tag('admin_book.js') %>
</body>
</html>