<html>

	<head>
		 <link rel="stylesheet" type="text/css" href="style.css">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>

	 <div class="container">
	<div class="strip">
		<center><h1> RB Library</h1></center>
		<span class="userspan" id="userspan1">
			<%= @user.email %> 
			<span class="logoutspan" id="logout1">
			<% if user_signed_in? %>
					<%= link_to "Change Password" %>
					<%= link_to "Logout", destroy_user_session_path ,method: :delete %>
			<% end %>
				</span>
			</span>
		</div>
		<div class="sidemenu">
			<li><%= link_to "My Bag", user_path(id: @user.id) %></li>
			<li><%= link_to "Fill My Bag", books_path(id: @user.id) %></li>
			<li><%= link_to "Update Me", edit_user_path(id: @user.id) %></li>
		</div>
		
		<div class="inner-container">

			<div id="flash">
	  		<% flash.each do |key, value| %>
	     	<div class="flash-box-<%= key %>" id="flash"><%= value %></div>
	  	 	<% end %>
	  	 	</div>

			<h2 >My Profile</h2>
			 
			 <%= form_for :user_update ,url: user_path(id: @user.id), method: "put", :html => {:class =>'editprofileform'} do |f| %>

			<table class="editprofiletable">

			  <tr>
			    <td>Mail</td>
			    <td id="mail1"><%= f.text_field :user_name, :value=>@user.user_name, :disabled=>"disabled" %></td>
			    <td ><input class="profileeditbutton" id="b1" type="button" value="edit"></td>
			  </tr>

			  <tr>
			    <td>Age</td>
			    <td><%= f.text_field :age, :value=>@user.age, :disabled=>"disabled" %></td>
			    <td ><input class="profileeditbutton" id="b3" type="button" value="edit"></td>
			  </tr>

			  <tr>
			    <td>Address</td>
			    <td><%= f.text_field :address, :value=>@user.address, :disabled=>"disabled" %></td>
			    <td ><input class="profileeditbutton" id="b4" type="button" value="edit"></td>
			  </tr>

			  <tr>
			    <td>Mobile</td>
			    <td><%= f.text_field :mobile, :value=>@user.mobile, :disabled=>"disabled" %></td>
			    <td ><input class="profileeditbutton" id="b5" type="button" value="edit"></td>
			  </tr>

			</table>

			<%= f.submit("Update") %>

			<% end %>

		</div> 

	</div>

	<%= javascript_include_tag('myjs.js') %>
	<%= javascript_include_tag('editfun.js') %>

	</body>

</html>